In [26]:
import pandas as pd
import datetime as dt

In [2]:
london_weather = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/London_weather_data/london_weather_MODIFIED - london_weather_MODIFIED.csv')
london_weather

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
15338,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [3]:
london_weather['date'].sample(n=10).sort_index()

1028     19811025
1553     19830403
6763     19970708
7209     19980927
7570     19990923
8093     20010227
8836     20030312
13241    20150403
15056    20200322
15185    20200729
Name: date, dtype: int64

In [4]:
london_weather['datetime'] = pd.to_datetime(london_weather['date'], format = '%Y%m%d')

In [5]:
london_weather = london_weather.set_index(['datetime'])

In [6]:
london_weather

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
datetime,,,,,,,,,,
1979-01-01,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1979-01-02,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
1979-01-03,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
1979-01-04,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
1979-01-05,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
2020-12-27,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
2020-12-28,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
2020-12-29,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
2020-12-30,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
2020-12-31,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [10]:
london_weather = london_weather.drop(columns=['date', 'cloud_cover', 'sunshine', 'global_radiation', 'pressure'])

In [13]:
london_weather.isna().sum()

max_temp          390
mean_temp         419
min_temp          386
precipitation     390
snow_depth       1752
dtype: int64

In [17]:
london_weather.isnull().sum()

max_temp          390
mean_temp         419
min_temp          386
precipitation     390
snow_depth       1752
dtype: int64

In [43]:
london_weather.index

DatetimeIndex(['1979-01-01', '1979-01-02', '1979-01-03', '1979-01-04',
               '1979-01-05', '1979-01-06', '1979-01-07', '1979-01-08',
               '1979-01-09', '1979-01-10',
               ...
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='datetime', length=15341, freq=None)

In [52]:
london_weather = london_weather.asfreq('D')

In [53]:
london_weather.index

DatetimeIndex(['1979-01-01', '1979-01-02', '1979-01-03', '1979-01-04',
               '1979-01-05', '1979-01-06', '1979-01-07', '1979-01-08',
               '1979-01-09', '1979-01-10',
               ...
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='datetime', length=15341, freq='D')

In [58]:
lw_copy = london_weather.copy()

In [59]:
lw_copy = copy.fillna(method='ffill')

In [60]:
lw_copy.isna().sum()

max_temp         0
mean_temp        0
min_temp         0
precipitation    0
snow_depth       0
dtype: int64

In [61]:
lw_copy

            max_temp  mean_temp  min_temp  precipitation  snow_depth
datetime
1979-01-01       2.3       -4.1      -7.5            0.4         9.0
1979-01-02       1.6       -2.6      -7.5            0.0         8.0
1979-01-03       1.3       -2.8      -7.2            0.0         4.0
1979-01-04      -0.3       -2.6      -6.5            0.0         2.0
1979-01-05       5.6       -0.8      -1.4            0.0         1.0
...              ...        ...       ...            ...         ...
2020-12-27       7.5        7.5       7.6            2.0         0.0
2020-12-28       3.6        1.1      -1.3            0.2         0.0
2020-12-29       4.1        2.6       1.1            0.0         0.0
2020-12-30       5.6        2.7      -0.1            0.0         0.0
2020-12-31       1.5       -0.8      -3.1            0.0         0.0

[15341 rows x 5 columns]

In [64]:
lw_copy = lw_copy.loc['1979':'2000']
lw_copy

            max_temp  mean_temp  min_temp  precipitation  snow_depth
datetime
1979-01-01       2.3       -4.1      -7.5            0.4         9.0
1979-01-02       1.6       -2.6      -7.5            0.0         8.0
1979-01-03       1.3       -2.8      -7.2            0.0         4.0
1979-01-04      -0.3       -2.6      -6.5            0.0         2.0
1979-01-05       5.6       -0.8      -1.4            0.0         1.0
...              ...        ...       ...            ...         ...
2000-12-27       2.9        2.2       1.5            1.8         0.0
2000-12-28       1.2       -0.3      -3.5            0.0         2.0
2000-12-29       3.1       -2.2      -5.5            0.0         1.0
2000-12-30      10.1       -1.1      -5.3            0.0         0.0
2000-12-31      11.1        2.8      -4.6            6.3         0.0

[8036 rows x 5 columns]

# Q1: What month had the most precipitation between 2000 through 2010?

# Q2: Which year between 2000-2020 had the coolest average temperature?